body {
  background-color: #cacaca;
  color: #212529;
}

.form-cardi {
  background-color: #cacaca;
  color: #212529;
}

.main-card {
  background-color: #e0dfdf;
}

nav {
  background-color: #e0dfdf;
}
